{% extends "layout.html" %}
{% block title %} 资产主页 {% endblock %}

{% block link %}
	<a href="{{ url_for('manager_books') }}"> 返回  </a> | 
	{% if book %}
	<a href="{{ url_for('manager_modify', id=book.book_id)}}"> 修改 </a>
	{% endif%}
{% endblock %}
{% block body  %}
	<h2> 资产信息 </h2>
	{% if book %}
	<li> 编号            	{{book.asset_id}} </li>
	<li> 名称        		{{book.asset_name}} </li>
	<li> 类型        		{{book.usage}} </li>	
	{% endif %}
	<h2 > 借用信息 </h2>
	{% if reader  %}
	<li> 借用者姓名 {{reader.user_name}}</li>
	<li> 借用日期  {{reader.date_borrow}}</li>
	<li> 归还日期  {{reader.date_return}}</li>
	<form action="" method=post>
	  <div class=actions>
	    <input type=submit value="归还">
	    </div>
	</form>
	{% else %}
	<li> 无 </li> 
	{% endif %}
{% endblock %}
