{% extends "layout.html" %}
{% block title%} 查询  {% endblock %}
{% block link %} 
	<a href="{{ url_for('reader') }}"> 返回 </a>
{% endblock %}
{% block body %}
	<h2> 查询 </h2> 
	{% if error %}
	<div class=error>
	  <strong>Errror : </strong> {{error}}
	</div>
	{% endif %}  
    <div class=actions>
	  <form action="" method="post">
	    <dd>
	      <select name="item">
		<option value="name"> 资产名 </option>
		<option value="asset_id"> 资产编号 </option>
	      </select>
	      <input type="text" name="query" size="80"> 
	      <input type="submit" value="查询">
	    </dd> 
	  </form>
	</div>
	{% if books %}
	<table width="600" border="1" align="center">
	  <tr>
	    <th align="center"> 资产编号 </th>
			<th align="center"> 资产名 </th>
			<th align="center"> 类型 </th>
			<th align="center"> 查看信息</th>
	  </tr>
	  {% for book in books %}
	  <tr>
	    <th align="center"> {{book.asset_id}}</th>
	    <th align="center"> {{book.asset_name}} </th>
	    <th align="center"> {{book.usage}} </th>
	    <th align="center"> <a href="{{ url_for('reader_book', id=book.asset_id)}}"> 点击进入 </a> </th>
	  </tr>
	  {% endfor %}
	  {% endif %}
	</table>	
{% endblock %}

