{% extends 'layout.html' %}

{% block title %} 书目信息 {% endblock %}
{% block link %} 
	{% if book %}
	<a href="{{ url_for('reader')}}"> 返回 </a>
	{% endif %}
{% endblock %}

{% block body %}
	{% if error %}
	<div class=error>
	  <strong>Errror : </strong> {{error}}
	</div>
	{% endif %}
	<h2> 资产信息 </h2>
	{% if book %}
	<li> 资产编号           	{{book.asset_id}} </li>
	<li> 资产名        		{{book.asset_name}} </li>
	<li> 资产类型        		{{book.usage}} </li>	
	{% endif %}
	<div >
	  <h2 > 借用信息 </h2>
	  {% if reader  %}
	  <li> 借用者姓名 {{reader.user_name}}</li>
	  <li> 借用日期  {{reader.date_borrow}}</li>
	  <li> 归还日期  {{reader.date_return}}</li>
	  {% else %}
	  <li> 无 </li>
	  {% endif %}
	  <form action="" method=post>
	    <div class=actions>
	      <input type=submit value="借阅">
	    </div>
	  </form>

{% endblock %}
